/* Form styling */

#main {
    font-family: Karla;
    background-color: #fff7f2;
    color: #39237D;
    height: 500px;
    width: 450px;
    border-radius: 25px;
    margin: auto;
    margin-top: 5%;
    min-height: 80vh;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    font-weight: bolder;
    font-size: 50px;
    margin: 0;
    padding-top: 30px;
}

/* Required lyrics input styling starts here */

.song-input-section {
    margin: 5% auto;
  }
  
  .form-group {
    border: 0px;
  }
  
input.form-control-1 {
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    width: 70%;
    height: 30px;
    margin-top: 20px;
    caret-color: white;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

input.form-control-2 {
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    width: 70%;
    height: 20px;
    caret-color: white;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
  
.invalid-feedback {
    color: red;
    margin: 10px;
}

/* Required lyrics input styling ends here */

/* Form submit button styling starts here */

.btn-outline-info,
#narrow-search-yes-button,
#narrow-search-no-button {
    border: 2px solid white;
    border-radius: 8px;
    background-color: #CC4AC4;
    color: white;
}

.btn-outline-info:hover,
#narrow-search-button {
    cursor: pointer;
}

#submit-button {
    padding: 15px;
    border-radius: 15px;
    width: 300px;
    font-size: 28px;
}

/* Form submit button styling ends here */

/* Optional user input section starts here */

.narrow-search-section p,
.narrow-search-section button {
    display: inline-block;
}

#optional-song-input-section {
    border: 1px solid white;
    border-radius: 15px;
    text-align: left;
    margin: 1% auto;
    width: max-content;
    padding: 5px 15px 15px 15px;
    display: none;
}

#optional-song-input-section input {
    width: 50%;
}

.first-optional-input,
.second-optional-input {
    display: block;
    padding: 5px;
}

/* .optional-song-input-section input {
    display: block;
} */

/* Optional user input section ends here */

/* Styling for displaying songs to user */

.songs-list {
    border: 1px solid white;
    border-radius: 15px;
    text-align: left;
    margin: 5% auto;
    width: max-content;
    padding: 10px 30px 10px 10px;
}