{% extends 'template.html' %} {% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/home.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Karla"
    rel="stylesheet"
    type="text/css"
  />
</head>
<body>
  <div id="main">
    <h2>
      Hi &#128075; <br />
      I'm Tilly, your <br />
      Tune Buddy!
    </h2>

    <div class="song-input-section">
      <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <!-- Required User Input Begins Here -->
          <div class="form-group">
            {{ form.lyrics.label(class="form-control-label") }} <br />
            {% if form.lyrics.errors %} {{ form.lyrics(class="form-control-1
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.lyrics.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.lyrics(class="form-control-1 form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <!-- Optional User Input Begins Here -->
        <div class="narrow-search-section">
          <p>Do you remember the artist and/or genre?</p>
          <button id="narrow-search-yes-button" , type="narrow-search">
            Yes
          </button>
          <button id="narrow-search-no-button" , type="narrow-search">
            No
          </button>
        </div>
        <div id="optional-song-input-section">
          <div class="first-optional-input">
            {{ form.artist_name.label(class="form-control-label") }} {% if
            form.artist_name.errors %} {{ form.artist_name(class="form-control-2
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.artist_name.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.artist_name(class="form-control-2 form-control-lg")
            }} {% endif %}
          </div>
          <div class="second-optional-input">
            {{ form.genre.label(class="form-control-label") }} {% if
            form.genre.errors %} {{ form.genre(class="form-control-2
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.genre.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.genre(class="form-control-2 form-control-lg") }} {%
            endif %}
          </div>
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info", id="submit-button") }}
        </div>
      </form>
    </div>
  </div>

  {% if song_data %}
  <div class="songs-list">
    <ul>
      {% if song_data.first_possible_song != "None" %}
      <li><b>Possible Songs</b></li>
      <li>{{ song_data.first_possible_song }}</li>
      {% if song_data.second_possible_song != "None" %}
      <li>{{ song_data.second_possible_song }}</li>
      {% if song_data.third_possible_song != "None" %}
      <li>{{ song_data.third_possible_song }}</li>
      {% endif %} {% endif %} {% else %}
      <li><b>Possible Songs</b></li>
      <li>None of our songs matched those lyrics!</li>
      <li>
        Hint: Try providing more info on the song to narrow down the search.
      </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
  <script src="../static/js/narrowSearch.js"></script>
</body>
{% endblock content %}
